*.swp
*.VC.db
*.VC.opendb
*.vpj
*.vpw
*.vpwhist
*.vtg
tags
.vs
fmod.log
Build/VS14/*
Lib/Pegasus/*
bin/*/Win32/*/*.exe
bin/*/Win32/*/*.ilk
bin/*/Win32/*/*.pdb
bin/*/Win32/*/*.pgd
Project/*/Editor/GeneratedFiles/*
Project/VS14/Build/*
bin/*/Win32/*/Applications/*
