*.swp
*.VC.db
*.VC.opendb
include/tags
Source/tags
fmod.log
Build/VS14/*
Lib/Pegasus/*
bin/*/Win32/*/*.exe
bin/*/Win32/*/*.ilk
bin/*/Win32/*/*.pdb
bin/*/Win32/*/*.pgd
bin/*/Win32/*/Applications/*
Project/*/Build/*
Project/*/Editor/GeneratedFiles/*
Project/*/.vs/*
